.sidebar {
  border-right: rgb(128, 128, 128) solid 1px;
  width: 250px;
}

.repo-label {
  padding: 5px 15px;
  padding-left: 42px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  display: block;
}

.owner-label {
  padding: 5px 15px;
  display: block;
}

.nav-item {
  overflow: hidden;
  position: relative;
}

.nav-item:hover {
  background-color: #f8f9fa;
}

.owner-avatar {
  display: inline;
  border-radius: 3px;
  width: 20px;
  vertical-align: middle;
  border-style: none;
  margin-right: 3px;
}

.unread-badge {
  color: #212529;
  background-color: #f8f9fa;
}

.repo-label .unread-badge {
  line-height: 12px;
  position: absolute;
  right: 10px;
}

.badge {
  top: 6px;
  display: inline-block;
  padding: 0.25em 0.4em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
  transition:
    color 0.15s ease-in-out,
    background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
}
