.thread-checkbox {
  width: 16px;
  height: 16px;
  margin-right: 0.5rem;
}

.thread-item {
  border-bottom: 1px solid rgba(128, 128, 128, 0.1);
}

.thread-item:hover {
  color: #212529;
  background-color: rgba(0, 0, 0, 0.075);
}

.thread-item[data-state="read"] {
  background-color: #f4f6f7;
}

.title {
  color: #0366d6;
}

.thread-item[data-state="read"] .title {
  color: #586069;
}

.thread-item td {
  padding: 0.6rem;
}

.thread-icon[data-state="open"] {
  color: #28a745;
}

.thread-icon[data-state="merged"] {
  color: #a128ca;
}

.thread-icon[data-state="closed"] {
  color: #dc3545;
}

.thread-icon[data-state="closed"][data-type="Issue"] {
  color: #000;
}

.thread-checkbox-cell {
  width: 42px;
}

.thread-bookmark-cell {
  width: 42px;
}

.thread-icon-cell {
  width: 42px;
}

.thread-repo-cell {
  width: 128px;
}

.thread-user-cell {
  width: 128px;
}

.thread-reason-cell {
  width: 128px;
}

.thread-updated-cell {
  width: 64px;
}
